<h3>Players</h3>
<div>
    @for (item of players; track $index) {
    <p> {{item}} <button (click)="deletePlayer(item)">-</button> </p>
}

</div>
<div>
    @if (adding==true){
        <div>
            <input [(ngModel)]="name" type="text" id="name" name="name" required />
        </div>
    }
    <br>
    @if (adding==false){
        <button (click)="add()">+ Add player</button>
    }
    @else{
        <button (click)="addPlayer()">+</button>
        <button (click)="add()">Cancel</button>
    }
</div>
