<h1>Who’s the impostor?</h1>

@if (setting==true){

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dignissimos nemo facere consectetur qui, non sequi quis quod aspernatur adipisci optio hic ad distinctio iure repudiandae voluptatem quia explicabo mollitia.</p>
    <h3>Players</h3>
    <div>
        @for (item of players; track $index) {
        <p> {{item}} <button (click)="deletePlayer(item)">-</button> </p>
    }

    </div>
    <div>
        @if (adding==true){
            <div>
                <input [(ngModel)]="name" type="text" id="name" name="name" required />
            </div>
        }
        <br>
        @if (adding==false){
            <button (click)="add()">+ Add player</button>
        }
        @else{
            <button (click)="addPlayer()">+</button>
            <button (click)="add()">Cancel</button>
        }
        <p> {{players.length}} </p>
    </div>

    <div>
        <h3>Impostors</h3>
        <label for="impostors">Select the number of impostors:</label>
        <select id="impostors">
            @if (players.length <=5){
                <option value="1">1</option>
            }
            @else if (players.length <=10){
                <option value="1">1</option>
                <option value="1">2</option>
            }
            @else if (players.length <=15){
                <option value="1">2</option>
                <option value="1">3</option>
            }
        </select>
    </div>
    <div>
        <h3>Categories</h3>
        <label for="Categories">Select a category:</label>
        <select id="Categories">
            
        </select>
    </div>

    <button>Start the game!</button>

}

@else {
    <p>null</p>
}




