<h1>¿Quien es el impostor?</h1>

@if (setting==true){

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dignissimos nemo facere consectetur qui, non sequi quis quod aspernatur adipisci optio hic ad distinctio iure repudiandae voluptatem quia explicabo mollitia.</p>
    <h3>Jugadores</h3>
    <div>
        @for (item of players; track $index) {
        <p> {{item}} <button (click)="deletePlayer(item)">-</button> </p>
    }

    </div>
    <div>
        @if (adding==true){
            <div>
                <input [(ngModel)]="name" type="text" id="name" name="name" required />
            </div>
        }
        <br>
        @if (adding==false){
            <button (click)="add()">+ Añadir Jugador</button>
        }
        @else{
            <button (click)="addPlayer()">+</button>
            <button (click)="add()">Cancelar</button>
        }
        <p>Jugadores totales: {{players.length}} </p>
    </div>

    <div>
        <h3>Impostores</h3>
        <label for="impostors">Selecciona la cantidad de impostores:</label>
        <select id="impostors" [(ngModel)]="impostors">
            <option value="1">1</option>
            <option value="2" [disabled]="players.length <=5">2</option>
            <option value="3" [disabled]="players.length <=10">3</option>
        </select>
        <p>Impostores: {{impostors}} </p>
    </div>
    <div>
        <h3>Categorías</h3>
        <label for="Categories">Selecciona una categoría:</label>
        <select id="Categories">
            <option value="animals">Animales</option>
            <option value="fruits">Frutas</option>
            <option value="colors">Colores</option>
            <option value="verbs">Verbos</option>
            <option value="nouns">Sustantivos</option>
            <option value="adjectives">Adjetivos</option>
            <option value="sports">Deportes</option>
            <option value="general">General</option>
        </select>
    </div>
    <button (click)="startGame()">¡Empezar el juego!</button>
} 

@else {
    <div>
        @if (players.length > 0){
            <p>  </p>
            <app-player-card [player]="players[currentIndex]" [role]="shuffledRoles[currentIndex]" [impostors]="impostors" ></app-player-card>
        <div>
            <button (click)="prevPlayer()" [disabled]="currentIndex === 0">Anterior</button>
            <button (click)="nextPlayer()" [disabled]="currentIndex === players.length - 1">Siguiente</button>
        </div>
        <p>Jugador {{currentIndex+1}} de {{players.length}}</p>
        }
        @else {
            <p>No hay jugadores</p>
        }
    </div>
}




